{{('message' in globals())}}
{{extend 'layout.html'}}

<h2>Welcome to BrainyApe</h2>

<h4>List of Students:</h4>
<br>
<div class='posts'>
{{if len(posts) > 0:}}
<ul>
{{for p in posts:}}
<div class="well">
<table><tr>
     <td>
     <div class="profilepic">
        <img src="{{=URL('download', args = p.picture)}}" height=200 width=200/>
     </div>
     </td>
     <td>
     <div class="profilecontent">
        <h2>{{=p.nice_name}}</h2>
        <h4>{{=p.college}}</h4>
        <table><tr><td>
            Areas of expertise:</td><td>{{=p.subject1}}, {{=p.subject2}}, {{=p.subject3}}
        </td></tr></table>
         <table><tr><td>
            {{=p.student_status}},</td><td>{{=p.major}}
        </td></tr></table>
     </div>
     </td>
     <td>
     <div class="add">
         <div class='price'><h5>${{=p.price}}/hour</h5></div>
        <p>{{=p.body}}</p>
       {{=A('View Profile', _class='btn', _href=URL('default', 'profiles', args= p.name))}}
     </div>
     </td>
</tr>
</table>
</div>
{{pass}}
</ul>


{{else:}}
No Posts.
{{pass}}
    </div>
{{=A('Add', _class='btn', _href=URL('default', 'addstudent'))}}
