{{('message' in globals())}}
{{extend 'layout.html'}}
<style type="text/css">
.content{
	padding-left: 20px;
}


</style>
<body>
<center>
<h2>Welcome to BrainyApe Tutor Train Camp</h2>
<br>
<h3>Here We Make it easy to learn the skill to tutor other UCSC students!</h3>
</center>
<div class='content'>
<ul>
<h5>Preparation:</h5>
<p>Running a successful session requires careful planning. Never go into a session intending to "play it by ear" or "answer questions." Review materials in advance before the start of your session. This is especially important if you transferred here or have not seen the material in a long time. Be ready for the first session so you are already familiar with the material and can bring the student in as well.
</p>

<h5>Feedback and Expectations:</h5>
<p>There are many different types of learning styles (visual auditory, hands on) and your student might have a particular style that works best for him/her. Ask for feedback from the student on your tutorial methods and what he/she feels helps them the most.</p>
<p>
Ask your student what he/she is expecting from the tutorial session. Once you have a sense of what your student expects from you, explain or describe to your students how to best prepare for a tutorial session with you and how to make the most out of your sessions.
</p>

<h5>Rapport:</h5>
<p>Establish a comfortable personal space within which you can facilitate learning. Begin with telling your students a little about yourself-perhaps why you are in the major you chose. You can also build rapport with students by personally inviting students to the sessions.
</p>

<h5>Interactive Learning Strategies:</h5>
<p>Create an interactive learning environment so your students can feel comfortable expressing themselves, and develop their own ideas. It is more effective to "model" how successful students learn a particular subject then it is to "tell" students how to do it.

</p>

<h5>Evaluations:</h5>
<p>Be continually self-evaluative. You should set goals for the tutoring session and spend a few minutes analyzing the strengths and weaknesses of the session when it is over. After evaluating your session, figure out how to best prepare for the next session.
</p>

<h5>Professionalism:</h5>
 Please uphold the same expectations you have of your students that you expect from them. Be on time, call at least 24 hours in advance when you have an emergency and need to cancel an appointment, be courteous and professional at all times. You are representing LSS and UCSC.
</p>

<h5>cited from lss (Learning Support Services):<a href="http://www2.ucsc.edu/lss/reports_and_apps/New%20Employee%20Training/Hints%20and%20Tips%20for%20Effective%20Tutoring%20Sessions.pdf">. 2015© LSS</a></h5>



</ul>
</div>



</body>